# Project exclude paths
/project/project/target/
/project/target/
/target/*
/target/scala-2.13/classes/
.idea/
.DS_Store
/docker_test_client
/security
keystore.jks
.bsp.bsp/
target/*
/module00 - Key/target/
/module00 - Student/target/
/module01 - Key/src/main/resources/example.com.crt
/module01 - Key/src/main/resources/example.com.csr
/module01 - Key/src/main/resources/example.com.jks
/module01 - Key/src/main/resources/exampleca.crt
/module01 - Key/src/main/resources/exampleca.jks
/module01 - Key/src/main/resources/password
/module01 - Student/target/
/module01 - Key/target/
/module02 - Key/02-JSON.iml
/module02 - Key/src/main/resources/example.com.crt
/module02 - Key/src/main/resources/example.com.csr
/module02 - Key/src/main/resources/example.com.jks
/module02 - Key/src/main/resources/exampleca.crt
/module02 - Key/src/main/resources/exampleca.jks
/module02 - Key/src/main/resources/password
/module02 - Student/target/
/module02 - Key/target/
/module03 - Student/target/
/module03 - Key/target/

